* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body,
html {
    overflow-x: hidden;
}

nav {
    position: absolute;
    z-index: 10;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}